.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: white;
    // font: lato;

    .channelsList {
        flex: 1;
        background: #611861;
    }
    .messages {
        flex: 4;
        background: white;
        color: black;
    }
}
