.chat-main-style {
    width: 100%;
    height: 100%;
    background: white;
}
.chat-navigation-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 220px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #3f103f;
}
.user-name {
    color: white;
    width: 136px;
    height: 22px;
    left: 15px;
    top: 11px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    margin: 10px;
}
.look-up {
    position: absolute;
    width: 188px;
    height: 28px;
    left: 15.79px;
    top: 64.3px;
    background: #5c345c;
    border-radius: 4px;
    margin: 10px;
}
.channels-style {
    position: relative;
    top: 100px;
    list-style-type: square;
    margin: 10px;
    padding: 10px;
    color: white;
}
.channels-headers {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}
